<br><br>
<h3 class="display-2">Wykupione bilety</h3>

<table class="table">
  <thead>
  <tr>
    <th>Dane</th>
    <th>ID miejsca</th>
    <th>Adres</th>
    <th>Cena</th>
    <th>Email</th>
    <th>Telefon</th>
  </tr>
  </thead>

  <tbody>
  <% tickets.each do |tickett| %>
    <tr>
      <td><%= tickett.name %></td>
      <td><%= tickett.seat_id_seq %></td>
      <td><%= tickett.address %></td>
      <td><%= tickett.price %></td>
      <td><%= tickett.email %></td>
      <td><%= tickett.phone %></td>
    </tr>
  <% end %>
  </tbody>
</table>