<div class="col-md-10">

 <h6>
    <%= @event.artist %>
  </h6>

  <h6>
    <%= @event.description %>
  </h6>

  <hr>

  <h6>
    <strong>Bilety od </strong> <%= @event.price_low %> <strong> do </strong>     <%= @event.price_high %>
  </h6>

  <h6>
    <strong>Data:</strong>
    <%= @event.event_date %>
  </h6>

</div>