<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"ID wydarzenia" %>
    <%= form.text_field :event_id, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :"Dane osobowe" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :"ID miejsca" %>
    <%= form.text_field :seat_id_seq, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :adres %>
    <%= form.text_area :address, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :cena %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :telefon %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="actions row">
    <%= form.submit "zakup bilet", class: "btn btn-lg btn-primary event-buttons" %>
    <%= link_to 'powrót do listy', tickets_path, class: "btn btn-lg btn-primary event-buttons" %>
  </div>
<% end %>
