<<<<<<< HEAD
<link rel="stylesheet" type="text/css" href="style.css">
<h1>Editing Ticket</h1>

<%= render 'form', ticket: @ticket %>

<%= link_to 'Show', @ticket %> |
<%= link_to 'Back', tickets_path %>

<h1> Wszystkie wydarzenia</h1>
<ul>
	<% for event in Event.all %>
		<%= event.id %>
		<li><%= link_to event.artist, event %></li>
		<br>
	<% end %>
</ul>
=======
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>Edycja biletu</h1>
      <br>
      <h3 class="display-2">Dostępne wydarzenia</h3>
      <%= render "events_list",  events: Event.all %>
      <br>
      <h3 class="display-2">Wypełnij formularz</h3>
      <%= render 'form', ticket: @ticket %>

    </div>
  </div>
</div>
>>>>>>> ea9e59b3c23db0537406462d78b636206744c964
